body {
  background: linear-gradient(
      180deg,
      rgba(0, 52, 119, 0.8),
      rgba(139, 49, 67, 0.9)
    ),
    url('./images/394.png');
  background-position: right;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}
body::before {
  content: '';
  display: block;
  position: fixed;
  background: inherit;
  filter: blur(4px);
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  z-index: -1;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
